################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/PazzoAPI/PazzoAPI/PazzoAPI.csproj.user
/PazzoAPI/PazzoAPI.Tests/obj/Debug
/PazzoAPI/PazzoAPI/obj/Debug
/PazzoAPI/PazzoAPI/bin
/PazzoAPI/packages
/PazzoAPI/.vs
/PazzoAPI/Pazzo.DB/obj/Debug
/PazzoAPI/Pazzo.DB/bin/Debug
/PazzoAPI/Pazzo.User/obj/Debug
/PazzoAPI/Pazzo.User/bin/Debug
/PazzoAPI/PazzoAPI.Tests/bin/Debug
/PazzoAPI/Pazzo.Exam/obj/Debug
/PazzoAPI/Pazzo.Exam/bin/Debug
/PazzoAPI/Pazzo.ExamTests/obj/Debug
/PazzoAPI/Pazzo.ExamTests/bin/Debug
/PazzoAPI/Pazzo.UserTests/obj/Debug
/PazzoAPI/Pazzo.UserTests/bin/Debug
